* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
/* font start*/
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
/* font end*/



body {

  min-height: 100vh;
  width: 100%;
}


/* main */
#main {
  width: 100%;
  height: 100vh;
  display: flex;
  /* position: fixed; */
}

/* sidebar start */
#sidebar {
  width: 20%;
  height: 100vh;
  background-color: #293142;
  /* border: 2px solid red; */
}

.admin-panel{
  font-size: 25px;
  color: white;
}

.sidebarBtns{
  text-align: start;
  width: 100%;
  display: block;
  border: none;
  padding: 5px;
  background-color: #293142;
  /* background-color: transparent; */
  font-size: 15px;
  margin-top: 10px;
  color: #b6cdff;
}

.sidebarBtns:hover{
  background-color: rgb(5, 130, 248);
  color: rgb(255, 255, 255);
}


#sidebar #start{
  color: rgb(255, 255, 255);
  font-size: 20px;
}

#sidebar .side-icon {
  padding: 9px;
  font-size: 18px;
}

.start-icon{
  color: rgb(189, 8, 244);
  font-size: 25px;
  padding: 10px;
}


/* sidebar end */


/* content start */
#content {
  height: 100vh;
  width: 100%;

}

.slider-icon {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(5, 130, 248);

}

.slider-icon .menu-icon {
  color: white;
  padding: 10px;
  border-radius: 15%;
  margin: 10px;
  font-size: 20px;
  border: 1px solid #f7dddd;
  display: flex;
  align-items: center;
}

.slider-icon .menu-icon:hover {
  color: black;
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
  padding: 15px;
  gap: 20px;
  font-size: 18px;
}

.display {
  height: 100vh;
  padding: 20px;
 
}
/* content end */